---
---
@import "{{ site.theme }}";

@font-face {
  font-family: Futura-Medium;
  src: url(fonts/Futura-Medium.eot), url(fonts/Futura-Medium.ttf), url(fonts/Futura-Medium.woff);
}

@font-face {
  font-family: Futura-Bold;
  src: url(fonts/Futura-Bold.eot), url(fonts/Futura-Bold.ttf), url(fonts/Futura-Bold.woff);
}

body {
  font-family: Futura-Medium, sans-serif;
  text-transform: uppercase;
}

.trigger {
  .page-link {
    font-size: 16px;
    font-family: Futura-Bold, sans-serif; 
  }
  .page-link:hover {
    transition: 0.3s;
    font-size: 17px;
    color: #E3442F;
  }

  .selected {
    font-size: 17px;
    color: #E3442F;
  }
}

.banner {
  margin-left: calc(-100vw / 2 + 940px / 2);
  margin-right: calc(-100vw / 2 + 940px / 2);
  background-color: #E3442F;
  img {
    margin: 0 auto;
    display: block;
  }

  ul {
    text-align: center;
    li {
      display: inline;
    }
  }
}

@media (min-width: 400px) and (max-width: 770px) {
  .banner {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.site-header {
  a {
    text-decoration: none;
  }
}

.page-content, .site-footer, .site-header {
  &.index {
    padding: 0 0;
    margin-top: -30px;
    margin-bottom: -30px;
  }

  .wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
  }
}

.post-content {
  .content {
    text-transform: none;
    font-family: Courier;
  }
  .single-art {
    font-family: Courier;
    text-transform: none;

    .legend {
      width: 25%;
      display: inline-block;
    }

    .image {
      width: 70%;
      float: right;
      display: inline-block;
      margin: 0 5px;
    }
  }
}